<h1>Users</h1>
<form accept-charset="UTF-8" action="/users" method="post">
  <label for="username"><input type="text" name="username"></label>
  <label for="email"><input type="email" name="email"></label>
  <label for="password"><input type="password" name="password"></label>
  <input type="submit" name="Submit">
</form>
